beautifulsoup4==4.7.1
certifi==2018.11.29
chardet==3.0.4
Click==7.0
Flask==1.0.2
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10
lxml
MarkupSafe==1.1.0
python-dateutil==2.8.1
requests==2.21.0
six==1.15.0
soupsieve==1.8
urllib3==1.24.2
watson-developer-cloud==2.10.1
websocket-client==0.48.0
Werkzeug==0.15.3