.displayWrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    color: white;
}

.loadingWrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100vh;
}

.errLoadingWrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100vh;
}

.articleWrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    width: 50vw;
    min-width: 500px;
    overflow: hidden;
}

.articleWrapper > * {
    margin-right: 10px;
    max-width: 250px;
}

.callsWrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    width: 50vw;
    min-width: 500px;
    overflow: hidden;
}

.callsWrapper > * {
    margin-right: 10px;
    max-width: 250px;
}

.bold {
    font-weight: bolder;
}

.spacer {
    height: 125px;
}

.reloadBtn {
    border-radius: 15px;
    padding: 0px 15px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    background: rgba(255, 255, 255, 0.85);
}

.reloadBtn:hover {
    transform: scale(1.03);
    background: rgba(255, 255, 255, 0.79);
}