.searchBar {
  position: absolute;
  top: 1.0em;
  box-sizing: content-box;
  text-align: center;
}

/* style the placeholder text  */
.searchBar::placeholder {
  color: rgb(255, 255, 255);
}

.search {
  width: 90%;
  padding-top: 1vh;
  position: relative;
  display: block;
  margin: 0 auto;
  color: white;
  background-color: transparent;
  background-repeat: no-repeat;
  border-radius: 50px;
  border: 4px solid white;
  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  /* transition: all 250ms ease-in; */
  backface-visibility: hidden;
  /* transform-style: preserve-3d; */
}

.searchForm {
  position: relative;
  width: 60vh;
  margin: 0 auto;
}

.searchText {
  margin-top: 1.5vh;
  font-size: 30px;
  font-weight: bold;
}
